# OAuth
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-nextauth-secret"

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/bdelivery"

# Redis
REDIS_URL="redis://localhost:6379"

# MinIO
MINIO_ENDPOINT="localhost"
MINIO_PORT="9000"
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin"
MINIO_BUCKET_NAME="bdelivery"
NEXT_PUBLIC_MINIO_ENDPOINT="localhost"
NEXT_PUBLIC_MINIO_PORT="9000"

# Kakao Map API
NEXT_PUBLIC_KAKAO_MAP_KEY="your-kakao-map-js-key"

# Chat Server
CHAT_SERVER_URL="http://localhost:8080"
